header {
    height: auto;
}

main {
    height: auto;
    padding-top: 100px;
    background-size: cover;
}

.beans_main{
    background-image: url(../img/d-img4.jpg);;
}

h2 {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}

.header_p {
    padding: 30px 20px;
    position: relative;
    z-index: 10;
}


table ,td ,th{
    border: solid 1px #fff;
    position: relative;
    z-index: 10;
}

th{
    width: 30%;
}

td{
    width: 70%;
}

@media screen and (min-width: 500px) {
    main::before {
        content: '';
        width: 100%;
        height: 110%;
        position: absolute;
        top: 50px;
        left: -5px;
        right: -5px;
        background: inherit;
        filter: blur(5px);
    }
    
}

/* 
item
*/

.item_main{
    background-image: url(../img/d-img1.jpg);
    text-shadow: 1px 1px 1px 1px black;
    text-shadow: -1px -1px 1px black;
}

.item_main img{
    margin-right: 50px;
    text-align: center;
    width: 25%;
    opacity: 0.8;
}

.item_div{
    text-align: right;
}

/* 
shop
*/
.shop_main .header_p{
    text-align: center;
}

.shop_div{
    min-height: 600px;
    text-align: center;
    position: relative;
    z-index: 20;
}

.shop_div input{
    margin-right: 10px;
    transform: scale(1.5);
}

.shop_div select{
    font-size: 0.7rem;
    margin-left: 30px;
    vertical-align: 5px;
}

.shop_div div{
    margin-bottom: 30px;
}

.shop_div p{
    margin: 0 auto;
    text-align: left;

}

.shop_div p::before{
    content: "　　　";
}

.pay_button{
    font-size: 15px;
    padding: 5px 10px;
}

/*
rousting
*/
.rousting_main{
    background-image: url(../img/roasting.jpg);
}

.video_div{
    position: absolute;
    top: 0;;
    z-index: 10;
    height: 500px;
    background-color: aqua;
}